.header {
background-color: white;
height: 10%;
width: 90%;
border: 5px solid orange;
padding-left: 2%;
padding-right: 2%;
margin: auto;
margin-top: 2%;
}

body {
background-color: gold;
}

.body {
background-color: white;
height: 110%;
width: 90%;
border: 5px solid orange;
margin: auto;
margin-top: 2%;
padding: 2%;
}
